<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="iris-hl7.ZPM">
    <Module>
      <Name>iris-hl7</Name>
      <Version>0.0.9</Version>
      <Description>iris-hl7</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="otw.PKG"/>
      <CSPApplication
        Name="/hl7"
        Directory="${cspdir}/hl7"
        Url="/hl7/api"
        DispatchClass="EnsLib.HL7.Service.HTTPService"
        MatchRoles=":${dbrole}:%All"
        Recurse="1"
        ServeFiles="1"
        UnauthenticatedEnabled="1"
        PasswordAuthEnabled="0"
        UseSessionCookie="2"
      />
      <FileCopy Name="hl7/" Target="${mgrdir}hl7/"/>
      <FileCopy Name="schema/" Target="${mgrdir}schema/"/>
      <Invoke Class="Ens.Director" Method="SetAutoStart">
        <Arg>otw.NewProduction</Arg>
      </Invoke>
      <Invoke Class="Ens.Director" Method="StartProduction">
        <Arg>otw.NewProduction</Arg>
      </Invoke>
    </Module>
  </Document>
</Export>
